<center> <h1> Statistical Analysis for San Francisco Building Permits </h1> </center>  

The goal of this report is to perform statistical analysis on the dataset and find correlations between independent variables and with dependent variables.

In [47]:
import datetime as dt 
import numpy as np
import pandas as pd
import seaborn as sb 
import matplotlib.pyplot as plt 
import scipy.stats as stats
import matplotlib.style as style

In [48]:
df = pd.read_csv(filepath_or_buffer='Building_Permits_Cleaned.csv',
                 header=0, low_memory=False, index_col='Unnamed: 0')

In [49]:
def to_category(columns, dataframe):
    """Convert a list of columns, from a dataframe, to a category datatype"""
    for column in columns: 
        dataframe[column] = dataframe[column].astype('category')

def to_integer(columns, dataframe):
    """Convert columns from a dataframe to an int64 datatype"""
    for column in columns: 
        dataframe[column] = dataframe[column].astype('int64')

In [50]:
cols = ['permit_creation_date', 'current_status_date','filed_date',
        'issued_date', 'completed_date', 'first_construction_document_date',
        'permit_expiration_date']

for col in cols:
    df[col] = pd.to_datetime(df[col])

    
columns = ['permit_type_definition', 'current_status', 'fire_only_permit', 
           'existing_use', 'proposed_use', 'existing_construction_type',
           'proposed_construction_type','existing_construction_type_description',
           'proposed_construction_type_description', 'tidf_compliance',
           'site_permit', 'neighborhoods', 'zipcode',
           'time_frame']

to_category(columns=columns, dataframe=df)

In [51]:
df.describe()

,permit_type,street_number,number_of_existing_stories,number_of_proposed_stories,estimated_cost,revised_cost,existing_units,proposed_units,plansets,latitude,longitude,time_range
count,198900.000000,198900.000000,156116.000000,156032.000000,1.608340e+05,1.928340e+05,147362.000000,147989.000000,161591.000000,197200.000000,197200.000000,183960.000000
mean,7.522323,1121.728944,5.705773,5.745043,1.689554e+05,1.328562e+05,15.666164,16.510950,1.274650,37.768751,-122.431812,26.054697
std,1.457451,1135.768948,8.613455,8.613284,3.630386e+06,3.584903e+06,74.476321,75.220444,22.407345,0.023730,0.028556,91.061716
min,1.000000,0.000000,0.000000,0.000000,1.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,37.708170,-122.510938,0.000000
25%,8.000000,235.000000,2.000000,2.000000,3.300000e+03,1.000000e+00,1.000000,1.000000,0.000000,37.752218,-122.447257,0.000000
50%,8.000000,710.000000,3.000000,3.000000,1.100000e+04,7.000000e+03,1.000000,2.000000,2.000000,37.773440,-122.427673,0.000000
75%,8.000000,1700.000000,4.000000,4.000000,3.500000e+04,2.870750e+04,4.000000,4.000000,2.000000,37.788825,-122.409675,6.000000
max,8.000000,8400.000000,78.000000,78.000000,5.379586e+08,7.805000e+08,1907.000000,1911.000000,9000.000000,37.825017,-122.365853,1740.000000

In [67]:
stats.pearsonr(x=df.permit_type_definition.cat.codes, y=df.time_frame.cat.codes)

(0.04253224538645627, 2.6382765917116337e-80)

In [71]:
stats.pearsonr(x=df.proposed_use.cat.codes, y=df.time_frame.cat.codes)

(0.11675200865108178, 0.0)